# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [101]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [102]:
vacation = pd.read_csv("weather_data_df.csv")
vacation_df = pd.DataFrame(vacation)
vacation_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Deputatsky,69.30,139.90,62.78,43,100,13.27,RU,1595135636
1,Bluff,-46.60,168.33,39.00,83,26,3.00,NZ,1595135621
2,Punta Arenas,-53.15,-70.92,33.80,80,99,18.34,CL,1595135464
3,Hobart,-42.88,147.33,60.01,54,40,5.82,AU,1595135525
4,Camacha,33.08,-16.33,69.80,83,40,11.41,PT,1595135996
5,Turukhansk,65.82,87.98,61.03,52,1,3.62,RU,1595135997
6,Ushuaia,-54.80,-68.30,30.20,100,90,8.05,AR,1595135600
7,Upernavik,72.79,-56.15,46.65,59,16,4.03,GL,1595135639
8,Atuona,-9.80,-139.03,79.07,79,44,16.73,PF,1595135615
9,Ondjiva,-17.07,15.73,43.75,60,0,6.55,AO,1595135998

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [103]:
gmaps.configure(api_key=g_key)

In [104]:
fig = gmaps.figure()

locations = vacation_df[["Lat", "Lng"]].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=vacation_df["Humidity"], 
                                 dissipating = False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [105]:
# Temperature between 80 and 90
# Wind speed < 20
# Cloudiness < 30
# Humidity < 50

ideal_df = vacation_df.loc[vacation_df["Max Temp"] >= 80.00, :]
ideal_df = ideal_df.loc[ideal_df["Max Temp"] <= 90.00, :]
ideal_df = ideal_df.loc[ideal_df["Wind Speed"] < 10, :]
ideal_df = ideal_df.loc[ideal_df["Cloudiness"] < 10, :]
ideal_df = ideal_df.loc[ideal_df["Humidity"] < 500, :]
ideal_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
77,Hamilton,39.18,-84.53,81.00,88,1,5.08,US,1595135656
110,Kumluca,36.37,30.29,83.30,50,0,1.68,TR,1595135630
121,Pontianak,-0.03,109.33,88.72,62,6,4.00,ID,1595136027
148,Champerico,14.30,-91.92,80.42,78,2,4.90,GT,1595135666
227,Dothan,31.22,-85.39,80.60,78,1,4.70,US,1595135625
241,Mayo,38.89,-76.51,80.01,83,1,6.11,US,1595136061
257,Lahad Datu,5.03,118.33,87.21,60,8,6.26,MY,1595136065
273,Labuhan,-6.88,112.21,87.17,57,0,2.55,ID,1595135628
283,Houma,29.60,-90.72,80.01,100,1,4.18,US,1595136073
329,Ormara,25.21,64.64,86.81,81,0,9.37,PK,1595136090
380,Puerto Escondido,15.85,-97.07,80.69,78,9,3.31,MX,1595135621
426,Stephenville,32.22,-98.20,82.99,58,1,9.17,US,1595136121
430,Semnan,35.57,53.40,87.48,17,0,6.11,IR,1595136122
448,Sorong,-0.88,131.25,83.48,74,1,5.79,ID,1595135629
492,Boone,39.03,-92.33,82.99,73,1,9.35,US,1595136142
523,San Miguel de Cozumel,20.51,-86.95,82.00,81,0,1.01,MX,1595136140
530,Atambua,-9.11,124.89,83.17,45,0,1.19,ID,1595135631
544,Duncan,34.50,-97.96,80.01,74,1,9.17,US,1595136158

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [106]:
hotel_df = ideal_df
hotel_df["Hotel Name"]= ""

In [107]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
77,Hamilton,39.18,-84.53,81.00,88,1,5.08,US,1595135656,
110,Kumluca,36.37,30.29,83.30,50,0,1.68,TR,1595135630,
121,Pontianak,-0.03,109.33,88.72,62,6,4.00,ID,1595136027,
148,Champerico,14.30,-91.92,80.42,78,2,4.90,GT,1595135666,
227,Dothan,31.22,-85.39,80.60,78,1,4.70,US,1595135625,
241,Mayo,38.89,-76.51,80.01,83,1,6.11,US,1595136061,
257,Lahad Datu,5.03,118.33,87.21,60,8,6.26,MY,1595136065,
273,Labuhan,-6.88,112.21,87.17,57,0,2.55,ID,1595135628,
283,Houma,29.60,-90.72,80.01,100,1,4.18,US,1595136073,
329,Ormara,25.21,64.64,86.81,81,0,9.37,PK,1595136090,
380,Puerto Escondido,15.85,-97.07,80.69,78,9,3.31,MX,1595135621,
426,Stephenville,32.22,-98.20,82.99,58,1,9.17,US,1595136121,
430,Semnan,35.57,53.40,87.48,17,0,6.11,IR,1595136122,
448,Sorong,-0.88,131.25,83.48,74,1,5.79,ID,1595135629,
492,Boone,39.03,-92.33,82.99,73,1,9.35,US,1595136142,
523,San Miguel de Cozumel,20.51,-86.95,82.00,81,0,1.01,MX,1595136140,
530,Atambua,-9.11,124.89,83.17,45,0,1.19,ID,1595135631,
544,Duncan,34.50,-97.96,80.01,74,1,9.17,US,1595136158,

In [108]:
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "top hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address = requests.get(base_url, params=params)
    name_address = name_address.json()
   
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        hotel_df.loc[index, "Hotel Address"] = name_address["results"][0]["vicinity"]
        hotel_df.loc[index, "Hotel Rating"] = name_address["results"][0]["rating"]

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
print("\n\nEnd of Results\n-------------------------------")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.


End of Results
-------------------------------

In [109]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Hotel Address,Hotel Rating
77,Hamilton,39.18,-84.53,81.00,88,1,5.08,US,1595135656,Gaslight Bed & Breakfast,"3652 Middleton Ave, Cincinnati",5.0
110,Kumluca,36.37,30.29,83.30,50,0,1.68,TR,1595135630,,NaN,NaN
121,Pontianak,-0.03,109.33,88.72,62,6,4.00,ID,1595136027,Mercure Pontianak City Center,"Jl. Jenderal Ahmad Yani No.91, Bansir Laut, Ko...",4.4
148,Champerico,14.30,-91.92,80.42,78,2,4.90,GT,1595135666,"Hotel y restaurante ""El Diamante""","oscaraudong@gmail.com, Champerico, Retalhuleu",4.1
227,Dothan,31.22,-85.39,80.60,78,1,4.70,US,1595135625,TownePlace Suites by Marriott Dothan,"201 Retail Dr, Dothan",4.7
241,Mayo,38.89,-76.51,80.01,83,1,6.11,US,1595136061,,NaN,NaN
257,Lahad Datu,5.03,118.33,87.21,60,8,6.26,MY,1595136065,OYO 44112 Darvel Bay Travelodge,"2nd Floor, MDLD 0133, Jalan Anggerik, Lahad Datu",4.0
273,Labuhan,-6.88,112.21,87.17,57,0,2.55,ID,1595135628,,NaN,NaN
283,Houma,29.60,-90.72,80.01,100,1,4.18,US,1595136073,Plantation Inn,"1381 W Tunnel Blvd, Houma",4.0
329,Ormara,25.21,64.64,86.81,81,0,9.37,PK,1595136090,,NaN,NaN
380,Puerto Escondido,15.85,-97.07,80.69,78,9,3.31,MX,1595135621,Hotel en Puerto Escondido,"Blvd. Benito Juarez No. 1, Fracc, Bacocho, Pue...",4.4
426,Stephenville,32.22,-98.20,82.99,58,1,9.17,US,1595136121,Hampton Inn & Suites Stephenville,"910 S Harbin Dr, Stephenville",4.1
430,Semnan,35.57,53.40,87.48,17,0,6.11,IR,1595136122,Gootkemall Hotel,"Semnan, خیابان دانشگاه",3.5
448,Sorong,-0.88,131.25,83.48,74,1,5.79,ID,1595135629,Swiss-Belhotel Sorong,"Hunting, Telepon (62)951 - 321199, Jl. Jend. S...",4.2
492,Boone,39.03,-92.33,82.99,73,1,9.35,US,1595136142,Sweet Hills Farm Guesthouse,"6721 N Oneal Rd, Columbia",4.0
523,San Miguel de Cozumel,20.51,-86.95,82.00,81,0,1.01,MX,1595136140,InterContinental Presidente Cozumel Resort Spa,Km 6.5 Carretera A Chankanaab Col. Zona Hotele...,4.6
530,Atambua,-9.11,124.89,83.17,45,0,1.19,ID,1595135631,Hotel King Star,"Jl. Raya Atambua No.Km. 2, Rinbesi, Kabupaten ...",4.0
544,Duncan,34.50,-97.96,80.01,74,1,9.17,US,1595136158,Lindley House Garden Cottages,"1211 N 10th St, Duncan",4.9

In [111]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

hotel_info

['\n<dl>\n<dt>Name</dt><dd>Gaslight Bed & Breakfast</dd>\n<dt>City</dt><dd>Hamilton</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Kumluca</dd>\n<dt>Country</dt><dd>TR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Mercure Pontianak City Center</dd>\n<dt>City</dt><dd>Pontianak</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel y restaurante "El Diamante"</dd>\n<dt>City</dt><dd>Champerico</dd>\n<dt>Country</dt><dd>GT</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>TownePlace Suites by Marriott Dothan</dd>\n<dt>City</dt><dd>Dothan</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Mayo</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>OYO 44112 Darvel Bay Travelodge</dd>\n<dt>City</dt><dd>Lahad Datu</dd>\n<dt>Country</dt><dd>MY</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Labuhan</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Plantation Inn</dd>\n<dt>City</dt><dd>Houma</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Ormara</dd>\n<dt>Country</dt><dd>PK</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel en Puerto Escondido</dd>\n<dt>City</dt><dd>Puerto Escondido</dd>\n<dt>Country</dt><dd>MX</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hampton Inn & Suites Stephenville</dd>\n<dt>City</dt><dd>Stephenville</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Gootkemall Hotel</dd>\n<dt>City</dt><dd>Semnan</dd>\n<dt>Country</dt><dd>IR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Swiss-Belhotel Sorong</dd>\n<dt>City</dt><dd>Sorong</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Sweet Hills Farm Guesthouse</dd>\n<dt>City</dt><dd>Boone</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>InterContinental Presidente Cozumel Resort Spa</dd>\n<dt>City</dt><dd>San Miguel de Cozumel</dd>\n<dt>Country</dt><dd>MX</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel King Star</dd>\n<dt>City</dt><dd>Atambua</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Lindley House Garden Cottages</dd>\n<dt>City</dt><dd>Duncan</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n']

In [114]:
# Add marker layer ontop of heat map


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig


# Display figure

Figure(layout=FigureLayout(height='420px'))