# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
vacation = pd.read_csv("weather_data_df.csv")
vacation_df = pd.DataFrame(vacation)
vacation_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Deputatsky,69.30,139.90,62.78,43,100,13.27,RU,1595135636
1,Bluff,-46.60,168.33,39.00,83,26,3.00,NZ,1595135621
2,Punta Arenas,-53.15,-70.92,33.80,80,99,18.34,CL,1595135464
3,Hobart,-42.88,147.33,60.01,54,40,5.82,AU,1595135525
4,Camacha,33.08,-16.33,69.80,83,40,11.41,PT,1595135996
5,Turukhansk,65.82,87.98,61.03,52,1,3.62,RU,1595135997
6,Ushuaia,-54.80,-68.30,30.20,100,90,8.05,AR,1595135600
7,Upernavik,72.79,-56.15,46.65,59,16,4.03,GL,1595135639
8,Atuona,-9.80,-139.03,79.07,79,44,16.73,PF,1595135615
9,Ondjiva,-17.07,15.73,43.75,60,0,6.55,AO,1595135998

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [17]:
fig = gmaps.figure()

locations = vacation_df[["Lat", "Lng"]].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=vacation_df["Humidity"], 
                                 dissipating = False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [55]:
# Temperature between 80 and 90
# Wind speed < 20
# Cloudiness < 30
# Humidity < 50

ideal_df = vacation_df.loc[vacation_df["Max Temp"] >= 80.00, :]
ideal_df = ideal_df.loc[ideal_df["Max Temp"] <= 100.00, :]
ideal_df = ideal_df.loc[ideal_df["Wind Speed"] < 20, :]
ideal_df = ideal_df.loc[ideal_df["Cloudiness"] < 20, :]
ideal_df = ideal_df.loc[ideal_df["Humidity"] < 50, :]
ideal_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
41,Nizwá,22.93,57.53,91.06,44,7,3.15,OM,1595135648
71,Dawlatabad,36.41,64.91,96.66,11,0,4.32,AF,1595136014
73,Mount Isa,-20.73,139.50,82.40,10,0,10.29,AU,1595135613
157,Birjand,32.87,59.22,82.40,14,0,16.11,IR,1595136037
160,Taoudenni,22.68,-3.98,93.51,13,0,6.69,ML,1595135665
201,Saint George,37.10,-113.58,95.00,10,1,5.82,US,1595135424
232,Akhtubinsk,48.28,46.17,82.02,43,0,13.00,RU,1595136058
256,Ohangaron,40.91,69.64,96.80,25,0,4.70,UZ,1595136065
285,Lachi,33.38,71.34,95.23,38,0,4.45,PK,1595136074
341,Port Keats,-14.25,129.55,82.74,43,10,9.08,AU,1595136094
377,Altay,47.87,88.12,91.22,15,0,11.14,CN,1595136105
430,Semnan,35.57,53.40,87.48,17,0,6.11,IR,1595136122
476,Ubari,26.59,12.78,83.98,26,2,12.37,LY,1595135619
480,Murgab,37.50,61.97,89.60,25,0,11.41,TM,1595136137
497,Lahat,-3.80,103.53,90.50,46,13,4.18,ID,1595136144
511,Riyadh,24.69,46.72,95.00,14,0,5.82,SA,1595135652
530,Atambua,-9.11,124.89,83.17,45,0,1.19,ID,1595135631
541,Derzhavīnsk,51.10,66.32,87.03,36,0,13.89,KZ,1595136157

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [56]:
hotel_df = ideal_df
hotel_df["Hotel Name"]= ""

In [57]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
41,Nizwá,22.93,57.53,91.06,44,7,3.15,OM,1595135648,
71,Dawlatabad,36.41,64.91,96.66,11,0,4.32,AF,1595136014,
73,Mount Isa,-20.73,139.50,82.40,10,0,10.29,AU,1595135613,
157,Birjand,32.87,59.22,82.40,14,0,16.11,IR,1595136037,
160,Taoudenni,22.68,-3.98,93.51,13,0,6.69,ML,1595135665,
201,Saint George,37.10,-113.58,95.00,10,1,5.82,US,1595135424,
232,Akhtubinsk,48.28,46.17,82.02,43,0,13.00,RU,1595136058,
256,Ohangaron,40.91,69.64,96.80,25,0,4.70,UZ,1595136065,
285,Lachi,33.38,71.34,95.23,38,0,4.45,PK,1595136074,
341,Port Keats,-14.25,129.55,82.74,43,10,9.08,AU,1595136094,
377,Altay,47.87,88.12,91.22,15,0,11.14,CN,1595136105,
430,Semnan,35.57,53.40,87.48,17,0,6.11,IR,1595136122,
476,Ubari,26.59,12.78,83.98,26,2,12.37,LY,1595135619,
480,Murgab,37.50,61.97,89.60,25,0,11.41,TM,1595136137,
497,Lahat,-3.80,103.53,90.50,46,13,4.18,ID,1595136144,
511,Riyadh,24.69,46.72,95.00,14,0,5.82,SA,1595135652,
530,Atambua,-9.11,124.89,83.17,45,0,1.19,ID,1595135631,
541,Derzhavīnsk,51.10,66.32,87.03,36,0,13.89,KZ,1595136157,

In [62]:
#base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#params = {
#    "location": "-20.7213732, 139.496382", 
#    "radius": "5000",
#    "type": "hotel",
#    "key": gkey,
#}

# params dictionary to update each iteration

params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        hotel_df.loc[index, "Hotel Address"] = name_address["results"][0]["vicinity"]
        hotel_df.loc[index, "Hotel Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
print("\n\nEnd of Results\n-------------------------------")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.


End of Results
-------------------------------

In [61]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Hotel Address,Hotel Rating
41,Nizwá,22.93,57.53,91.06,44,7,3.15,OM,1595135648,Antique Inn - Nizwa,Nizwa OM,4.5
71,Dawlatabad,36.41,64.91,96.66,11,0,4.32,AF,1595136014,,NaN,NaN
73,Mount Isa,-20.73,139.50,82.40,10,0,10.29,AU,1595135613,Abacus Motel,"163 Barkly Hwy, Soldiers Hill",4.6
157,Birjand,32.87,59.22,82.40,14,0,16.11,IR,1595136037,Sepehr Hotel,Birjand,4.1
160,Taoudenni,22.68,-3.98,93.51,13,0,6.69,ML,1595135665,,NaN,NaN
201,Saint George,37.10,-113.58,95.00,10,1,5.82,US,1595135424,Best Western Plus Abbey Inn,"1129 S Bluff St, St. George",4.6
232,Akhtubinsk,48.28,46.17,82.02,43,0,13.00,RU,1595136058,"Hotel ""Wheel""","Ulitsa Astrakhanskaya, 25A, Akhtubinsk",4.3
256,Ohangaron,40.91,69.64,96.80,25,0,4.70,UZ,1595136065,"Hotel "" Ahangaran""",Ohangaron,3.6
285,Lachi,33.38,71.34,95.23,38,0,4.45,PK,1595136074,Majaan Hotel Karapa,Krapa,0.0
341,Port Keats,-14.25,129.55,82.74,43,10,9.08,AU,1595136094,TDC Village (Hundred Man Camp),"20 Kanarlda St, Wadeye",3.9
377,Altay,47.87,88.12,91.22,15,0,11.14,CN,1595136105,Altay Regional Tourist Hotel,"No, 205 Gongyuan Rd, Aletaishi",0.0
430,Semnan,35.57,53.40,87.48,17,0,6.11,IR,1595136122,Gootkemall Hotel,"Semnan, خیابان دانشگاه",3.5
476,Ubari,26.59,12.78,83.98,26,2,12.37,LY,1595135619,فندق أوباري,"Unnamed Road, أوباري،",2.7
480,Murgab,37.50,61.97,89.60,25,0,11.41,TM,1595136137,,NaN,NaN
497,Lahat,-3.80,103.53,90.50,46,13,4.18,ID,1595136144,Hotel Grand Zuri,"Jl. Lubuk Beringin Desa No.138, Manggul, Kabup...",4.3
511,Riyadh,24.69,46.72,95.00,14,0,5.82,SA,1595135652,Riyadh Marriott Hotel,"King Saud Road Al Wazarat, Riyadh",4.2
530,Atambua,-9.11,124.89,83.17,45,0,1.19,ID,1595135631,Hotel King Star,"Jl. Raya Atambua No.Km. 2, Rinbesi, Kabupaten ...",4.0
541,Derzhavīnsk,51.10,66.32,87.03,36,0,13.89,KZ,1595136157,Gostinitsa Galaktika,"Укубаева 14, Derzhavinsk",3.2

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure